*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: aqua;
    color: #fff;
}

div{
    font-size: 3rem;
}
.round{
    width: 5rem;
    height: 5rem;
    background-color: red;
    border: 3px groove yellow;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    position: fixed;
    top: 3rem;
    left: 37rem;
}
.js{
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typed-text{
    color: #20c20c;
}
.cursor{
    background: #20c20e;
}